@mixin columns ($columns: 1, $gutter: 0rem, $flush-right: true) {
  display: block;
  box-sizing: border-box;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  > * {
    display: block;
    box-sizing: border-box;
    width: 100% / $columns;
    width: calc(#{ 100% / $columns } - #{ ($columns - 1) / $columns * $gutter });
    &:nth-child(n) {
      float: left;
      margin-top: $gutter;
      margin-left: $gutter * .999;
    }
    @if $flush-right {
      &:nth-child(#{ $columns }n) {
        float: right;
      }
    }
    &:nth-child(#{ $columns }n + 1) {
      margin-left: 0;
    }
    &:nth-child(-n+#{ $columns }) {
      margin-top: 0;
    }
  }
}

@mixin span ($span: $columns of $parent-columns, $gutter: 0rem) {
  $columns: nth($span, 1);
  $parent-columns: nth($span, 3);
  $relative-columns: $parent-columns / $columns;
  width: 100% / $relative-columns;
  width: calc(#{ 100% / $relative-columns } - #{ ($relative-columns - 1) / $relative-columns * $gutter });
}
