@import 'grail';

h2 {
  margin: 3em 0 1em 0;
  border-bottom: solid .1em #fff;
}

figure {
  margin: 2em 0;
}

code {
  display: block;
  margin: 2em auto;
  padding: 2rem;
  background: #fff;
}

pre {
  overflow: auto;
  font-family: 'menlo', 'courier new', serif;

  &:first-child {
    color: #999;
  }

  &:not(:first-child) {
    margin-top: 2rem;
  }

}

mark {
  background: #fffc6a;
}

.example {

  p {
    height: 2rem;
    background: rgba(0, 0, 0, .9);
  }

  button {
    line-height: 2rem;
    background: none;
    border: solid .15rem #fff;
    &:nth-child(3),
    &:nth-child(4) {
      display: none !important;
    }
  }

}

#introduction {

  p {
    font-size: 1.5em;
  }

}

#example-1 {
  margin-top: 5rem;

  .buttons {
    @include columns(1, 1rem);
    margin-top: 1em;
  }

  #grid-1 {
    margin-top: 1rem;
    &.one-column {
      @include columns(1);
    }
    &.two-columns {
      @include columns(2);
    }
    &.three-columns {
      @include columns(3);
    }
    &.six-columns {
      @include columns(6);
    }

    > div {
      padding: 1rem;
      &:nth-child(1) {
        @include columns(1, 1rem);
        background: #fff;
      }
      &:nth-child(2) {
        @include columns(2, 1rem);
        background: #66faff;
      }
      &:nth-child(3) {
        @include columns(3, 1rem);
        background: #59e864;
      }
      &:nth-child(4) {
        @include columns(4, 1rem);
        background: #fffc6a;
      }
      &:nth-child(5) {
        @include columns(5, 1rem);
        background: #e8b355;
      }
      &:nth-child(6) {
        @include columns(6, 1rem);
        background: #ff7a5e;
      }
    }

  }

}

#documentation {
  figure {
    p {
      height: 3rem;
      background: rgba(0, 0, 0, .9);
      border-top: solid .5rem;
      &:nth-child(1) {
        border-color: #fff;
      }
      &:nth-child(2) {
        border-color: #66faff;
      }
      &:nth-child(3) {
        border-color: #59e864;
      }
      &:nth-child(4) {
        border-color: #fffc6a;
      }
      &:nth-child(5) {
        border-color: #e8b355;
      }
      &:nth-child(6) {
        border-color: #ff7a5e;
      }
    }
  }
}

#first {
  @include columns(3);
}

#second {
  @include columns(3, 1rem);
}

#third {
  @include columns(2, 1rem);

  p {
    &:nth-child(1) {
      @include span(1 of 3, 1rem);
    }
    &:nth-child(2) {
      @include span(2 of 3, 1rem);
    }
    &:nth-child(3) {
      @include span(4 of 10, 1rem);
    }
    &:nth-child(4) {
      @include span(6 of 10, 1rem);
    }
    &:nth-child(5) {
      @include span(13 of 16, 1rem);
    }
    &:nth-child(6) {
      @include span(3 of 16, 1rem);
    }
  }

}

#fourth {
  @include columns(2, 1rem);

  p {
    &:nth-child(1) {
      @include span(1 of 3, 1rem);
    }
    &:nth-child(2) {
      @include span(2 of 3, 1rem);
      @include columns(2, 2rem);
    }
    &:nth-child(3) {
      @include span(4 of 10, 1rem);
    }
    &:nth-child(4) {
      @include span(6 of 10, 1rem);
    }
    &:nth-child(5) {
      @include span(13 of 16, 1rem);
      @include columns(3, 2rem);
      span {
        &:nth-child(1) {
          @include span(1 of 6, 2rem);
        }
        &:nth-child(2) {
          @include span(3 of 6, 2rem);
        }
        &:nth-child(3) {
          @include span(2 of 6, 2rem);
        }
      }
    }
    &:nth-child(6) {
      @include span(3 of 16, 1rem);
    }
  }

  span {
    height: 2.5rem;
    background: #fff;
  }

}



@media (max-width: 70rem) {

  h1 {
    font-size: 5em;
  }

}

@media (min-width: 40rem) {

  #example-1 .buttons {
    @include columns(2, 1rem);

    button:nth-child(3) {
      @include span(2 of 2);
      display: block !important;
    }

  }

}

@media (min-width: 70rem) {

  code {
    @include columns(2, 2rem);
    width: 80%;
  }

  pre {

    &:first-child {
      @include span(1 of 3, 2rem);
    }

    &:last-child {
      @include span(2 of 3, 2rem);
    }

  }

  #example-1 .buttons {
    @include columns(4, 1rem);

    button:nth-child(3) {
      @include span(1 of 4, 1rem);
    }
    button:nth-child(4) {
      display: block !important;
    }

  }

}
